<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/public/css/style.css" />
    <title>Baltic App</title>
  </head>
  <body>
    <form method="post" action="">
      <select name="countries" id="countries">
        <option value="estonia">Estonia</option>
        <option value="latvia">Latvia</option>
        <option value="lithuania">Lithuania</option>
      </select>
      <input type="submit" value="Choose country" />
      <div class="main-info">
        <h3>Country: <%= country.name %></h3>
        <h3>Capital: <%= country.capital %></h3>
      </div>
      <ul>
        <li>
          Top Level Domain: <%= country.topLevelDomain %>
        </li>
        <li>Calling Code: <%= country.callingCodes %></li>
        <li>Region: <%= country.region%></li>
        <li>Subregion: <%= country.subregion %></li>
        <li>Population: <%= country.population %></li>
        <li>Timezone: <%= country.timezones %></li>
        <li><img src="<%= country.flag %>" alt="" /></li>
      </ul>
    </form>
  </body>
</html>
